@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.social-midia {
    flex-direction: row;
    overflow-y: hidden;
    margin-bottom: 30px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    overflow-y: hidden;
}

#main {
    width: 100%;
}

footer{
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #1B6204;
    box-shadow: 0 16px 70px -8px rgba(28, 151, 48, 0.25);
    border-radius: 10px 10px 0 0;
    transition: background 0.3s linear;
    margin-top: 30px;
    flex-direction: row;
}

.container_01 {
    max-width: 1240px;
    padding: 30px 40px;
    margin: auto;
}

.rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.info-rodape .logo-area {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.info-rodape .logo-area img {
    margin-top: 10px;
    width: 80px;
    height: 60px;
    border-radius: 5%;
    border: 1px solid #fff;
}

.logo-area .logo-nome {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 1rem;
    color: rgb(0, 0, 0);
}

.desc-area {
    max-width: 320px;
    margin-bottom: 1.25rem;
}

.desc-area p {
    color: #fff;
    font-weight: 400;
    line-height: 28px;
}

.social-midia a {
    color: #fff;
    margin-right: 22px;
    font-size: 25px;
    width: 30px;
	height:30px;
    box-shadow:2px 2px 12px rgba(0,0,0,0.1);
}

.social-midia a:hover {
    color: deepskyblue;
}

.info-area {
    display: flex;
    overflow-y: hidden;
}

.desc-rodape {
    margin-right: 40px;
}

li.info-ufra {
    color: #000;
    font-weight: 600;
}

.desc-rodape li a {
    color: #fff;
    padding: 1px;
    font-weight: 400;
}

.desc-rodape li a:hover {
    color: deepskyblue;
}

.desc-rodape li {
    margin-bottom: 5px;
}

hr {
    height: 1px;
    border: none;
    background-color: #fff;
    margin-bottom: 1rem;
}

.info-dados {
    color: #fff;
}

.icons {
    width: 20px;
    height: 20px;
    color: rgba(122, 236, 141, 0.74);
}

.footer-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.85rem;
}

.cop-right {
    color: #000;
    display: flex;
    align-items: center;
}

.cop-right span {
    margin-left: 8px;
    font-weight: 400;
    letter-spacing: 0.125rem;
}

.cop-style {
    color: #000;
}


@media screen and (max-width: 999px) {
    .rodape {
        flex-wrap: wrap;
        justify-content: left;
    }
    .info-area {
        flex-wrap: wrap;
        justify-content: left;
    }
    .desc-rodape {
        margin-left: 0;
        margin-right: 40px;
    }
    .social-midia {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 510px){
    .desc-rodape {
        margin-bottom: 8px;
    }
    .cop-right {
        margin-bottom: 8px;
    }
}