* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Outfit", sans-serif;
}

.slider {
    position: relative;
    width: 900px;
    height: 538px;
    border-radius: 15px 15px 15px 15px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px rgb(92, 92, 92);
}

.slider img {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.slider img.selected {
    opacity: 1;
}

.botaomenu {
    display: block;
    background-color: #1B6204;
    color: white;
    border: none;
    margin-left: 10px;
}

.botaomenu:hover {
    cursor: pointer;
}

h1 {
    font-size: 40px;
    color: #1B6204;
    font-weight: bold;
}

h2 {
    margin: 40px;
    color: #1B6204;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}

h3 {
    color: #1B6204;
    font-weight: bold;
    text-align: center;
}

h4 {
    margin: 10px;
    color: rgb(73, 73, 73);
    font-weight: bold;
}

p {
    margin: 10px;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 15px rgb(92, 92, 92);
    border-radius: 10px 10px 10px 10px;
    width: 700px;
}

#menu {
    width: 100%;
    background-color: white;
    color: #1B6204;
    flex-direction: column;
    text-align: center;
    position: relative;
    box-shadow: 0px 0px 15px rgb(92, 92, 92);
}

.caixaopcoes {
    display: none;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

#imgctda {
    margin: 5px;
}

.tema {
    width: 900px;
    font-weight: bold;
    color: rgb(73, 73, 73);
    margin-top: 10px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 5px rgb(92, 92, 92);
    border-radius: 15px 15px 15px 15px;
    width: 900px;
    margin: 10px;
}

.mesmalinha {
    flex-direction: row;
    background-color: rgb(233, 231, 231);
    width: 900px;
}

.mesmalinhanormal {
    flex-direction: row;
    background-color: white;
}

.eventos {
    background-color: #1B6204;
    color: white;
    width: 950px;
    height: 50px;
    margin: 0;
    flex-direction: row;
    align-items: center;
}

.mapa {
    width: 900px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 0px 5px rgb(92, 92, 92);
    margin-bottom: 20px;
}

video {
    width: 900px;
    margin: 40px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 0px 5px rgb(92, 92, 92);
}

.imgEventos {
    margin-top: 1px;
}

.imgNatureza {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 60px;
}

@media(max-width: 900px) {
    div {
        width: 350px;
    }

    #imgctda {
        width: 350px;
    }

    main {
        width: 340px;
    }

    .mapa {
        width: 340px;
    }

    .slider {
        width: 350px;
        height: 250px;
    }

    .tema {
        width: 350px;
    }

    marquee {
        width: 350px;
    }

    video {
        width: 350px;
    }

    .imgNatureza {
        width: 250%;
    }
}

@media(max-width: 380px) {
    div {
        width: 280px;
    }

    #imgctda {
        width: 280px;
    }

    main {
        width: 280px;
    }

    .mapa {
        width: 280px;
    }

    .slider {
        width: 280px;
        height: 250px;
    }

    .tema {
        width: 280px;
    }

    marquee {
        width: 280px;
    }

    video {
        width: 280px;
    }
}
